{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steps to Complete</title>
</head>
<body>
<main>
    <div>
        <h1>{{ tasks.name }}</h1>
    <nav>
        <p>
            <a href="{% url "edit_list" tasks.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url "delete_list" tasks.id %}">Delete</a>
        </p>
    </nav>
        <h2>Tasks<h2>
        <table >
            <tr>
                <th>Tasks</th>
                <th>Due date</th>
            </tr>
            <tbody
            {% for x in tasks.items.all %}
            <tr>
                <td>
                 <a href="{% url "update_item" tasks.id %}"> {{ x.task }} </a>
                </td>
                <td>
                    {{ x.due_date }}
                </td>
            </tr>
            {% endfor %}

        </table>
        </div>
    </main>
</body>
</html>
