<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo Lists</title>
</head>
<body>
    <main>
    <div>
        <h1>My Lists</h1>
    <nav>
        <p>
            <a href="{% url "create_view" %}">Create a new list</a>
        </p>
        <p>
            <a href="{% url "newtask" %}">Create a new item</a>
        </p>
    </nav>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of items</th>
            </thead>
            <tbody>
                {% for x in todo_list %}
                <tr>
                    <td>
                        <a href="{% url "view_task" x.id%}"> {{ x.name }} </a>
                    </td>
                    <td>{{ x.items.all|length }}</td>
                </tr>
                {% endfor %}
            <tbody>

                </tbody>
        </table>
    </div>
    </main>
</body>
</html>
